<div class="signup" fxFlexFill fxLayout="column">
  <div *ngIf="signupFormShowing" fxLayout="column" fxFlex="5" fxLayoutAlign="end end">
    <md-icon class="signup__close" (click)="onToggleForm()">close</md-icon>
  </div>
  <div fxFlex fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div *ngIf="!signupFormShowing" [@fadeInOut]  fxLayout="column">
      <h3 class="signup__heading">Don't have an account?</h3>
      <button class="signup__button" (click)="onToggleForm()" md-fab>Sign Up</button>
    </div>
    <div *ngIf="signupFormShowing" [@fadeInOut] class="arria-light-theme">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3 class="signup__heading">Sign up for an account</h3>
      </div>
      <form [formGroup]="signupForm" novalidate fxLayout="column">
        <md-input-container>
          <input mdInput formControlName="firstName" placeholder="First Name" type="firstName">
          <md-hint *ngIf="isSubmissionAttempted && firstName.errors && firstName.errors[requiredMessage.propertyName]" class="arria-hint-label--light" align="end">{{requiredMessage.message}}</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="surname" placeholder="Surname" type="surname">
          <md-hint *ngIf="isSubmissionAttempted && surname.errors && surname.errors[requiredMessage.propertyName]" class="arria-hint-label--light" align="end">{{requiredMessage.message}}</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="email" placeholder="Email" type="email">
          <md-hint *ngIf="isSubmissionAttempted && email.errors && email.errors[requiredMessage.propertyName]" class="arria-hint-label--light" align="end">{{requiredMessage.message}}</md-hint>
          <md-hint *ngIf="isSubmissionAttempted && email.errors && !email.errors[requiredMessage.propertyName] && email.errors[invalidEmailMessage.propertyName]" class="arria-hint-label--light" align="end">
            {{invalidEmailMessage.message}}
          </md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="password" placeholder="Password" type="password">
          <md-hint *ngIf="isSubmissionAttempted && password.errors && password.errors[requiredMessage.propertyName]" class="arria-hint-label--light" align="end">{{requiredMessage.message}}</md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="repeatedPassword" placeholder="Repeat Password" type="password">
          <md-hint *ngIf="isSubmissionAttempted && repeatedPassword.errors && repeatedPassword.errors[requiredMessage.propertyName]" class="arria-hint-label--light" align="end">{{requiredMessage.message}}</md-hint>
          <md-hint *ngIf="isSubmissionAttempted && repeatedPassword.errors && !repeatedPassword.errors[requiredMessage.propertyName] && repeatedPassword.errors[passwordsNotMatchingMessage.propertyName]" class="arria-hint-label--light" align="end">{{passwordsNotMatchingMessage.message}}</md-hint>
        </md-input-container>
      </form>
      <p class="signup__notification">
        By creating an account you agree to our<br />
        <a class="signup__notification-link">Terms & Conditions</a> and <a class="signup__notification-link">Privacy Policy</a>.
      </p>
      <button class="signup__button" md-fab (click)="onSubmit()">Create my account</button>
    </div>
  </div>
</div>