@import "_theme";

$arria-primary-color: map-get($mat-arria-primary-theme, 500);
$arria-secondary-color: map-get($mat-arria-primary-theme, 300);
$arria-light-color: map-get($mat-arria-light-primary-theme, 500);
$validation-message-color: red;
$validation-message-color-light: salmon;