@import "_variables";

html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.arria-hint-label {
    color: $validation-message-color;
    &--light {
        color: $validation-message-color-light;
    }
}

.arria-link {
    color: $arria-secondary-color;
    cursor: pointer;
}
.mat-ripple-element, .mat-button-ripple, .mat-button-focus-overlay {
    border-radius: 20px !important;
}